# Compiled source #
**/__pycache__/

# Environment files #
**/.env
**/.DS_Store

# Packages #
**/node_modules/
**/.venv/
**/.nox/
**/venv/

# Distribution / build #
**/out/
**/dist/

# Development tools #
**/.vscode-test/
**/.vs/
**/bundled/libs/

# Caches and logs #
**/.pytest_cache/

# Test outputs #
**/tests/output/

# Jupyter Notebook #
.ipynb_checkpoints

# Misc #
*.vsix
