repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.3
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.1.1" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        args: [
            "--config",
            "vscode-extension/eslint.config.js", # Specify the path to your ESLint config file
            "--no-ignore",
            "--fix",
          ]
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        exclude: vscode-extension/.* # Exclude for now

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8" # Update to the desired version or SHA
    hooks:
      - id: prettier
        args: ["--write"] # Use '--write' to auto-format the code
        files: '\.(js|jsx|ts|tsx|css|md)$' # Adjust this regex to include the file types to format
