name: Python CI

on:
  push:
    branches: 
      - main
      - dev
      - 'feature/**'
  pull_request:
    branches: 
      - main
      - dev
      - 'feature/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # Ensures the repository is checked out using a personal access token

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12' # This ensures Python version 3.12 or higher is used

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'  # This ensures Node.js version 20 or higher is used
      
    - run: npm ci # This installs the dependencies using npm

    - name: Install pre-commit
      run: pip install pre-commit # This ensures pre-commit is installed

    - name: Install Ruff
      run: pip install ruff # This ensures Ruff is installed

    - name: Run Ruff Linter
      run: ruff check . # This runs the Ruff linter on the entire project

    - name: Run pre-commit Hooks
      run: pre-commit run --all-files # Runs the precommit hooks on all files