name: Python CI

on:
  push:
    branches:
      - main
      - dev
      - "feature/**"
  pull_request:
    branches:
      - main
      - dev
      - "feature/**"
  pull_request_review:
    types: [submitted, edited]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }} # Ensures the repository is checked out using a personal access token

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12" # This ensures Python version 3.12 or higher is used

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x" # This ensures Node.js version 20 or higher is used

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: ./vscode-extension

      - name: Install pre-commit
        run: pip install pre-commit # This ensures pre-commit is installed

      - name: Install Ruff
        run: pip install ruff # This ensures Ruff is installed

      - name: Run Ruff Linter
        run: ruff check . # This runs the Ruff linter on the entire project

      - name: Run pre-commit Hooks
        run: pre-commit run --all-files # Runs the precommit hooks on all files
  
  dependency-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          comment-summary-in-pr: always
          #   fail-on-severity: moderate
          #   deny-licenses: GPL-1.0-or-later, LGPL-2.0-or-later
          #   retry-on-snapshot-warnings: true
          
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}        

  auto-merge:
    if: github.event.review.state == 'approved' && github.event.pull_request.user.login == 'dependabot[bot]'
    needs: [lint, dependency-review]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0  # Necessary to fetch all history for branch management

      - name: Auto-merge pull request
        run: gh pr merge ${{ github.event.pull_request.number }} --merge

      - name: Delete branch after merge
        run: |
          branch=${{ github.event.pull_request.head.ref }}
          repo=${{ github.repository }}
          if [ "${{ github.event.pull_request.head.repo.fork }}" = "false" ]; then
            gh api -X DELETE repos/$repo/git/refs/heads/$branch
          fi

    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}